/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #476ca3;
  color: #EBF5FB;
}

/* App.css */

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #EBF5FB;
}

.App-header {
  background-color: #EBF5FB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #476ca3;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  margin-bottom: 5px;
  color: #476ca3;
}

.form-group input {
  padding: 10px;
  border: solid blue;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #535C91;
    border-radius: 4px;
    color: #9290C3;
}

.submit-btn {
  background-color: #476ca3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #476ca3;
}

.toggle-form {
  margin-top: 10px;
  color: #476ca3;
}

.toggle-btn {
  background: none;
  border: none;
  color: #476ca3;
  cursor: pointer;
  font-size: 16px;
  padding: 0 5px;
  text-decoration: underline;
}

.logout-btn {
  background-color: #407089;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #5BA0C5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  background-color: rgba(255, 107, 107, 0.2);
  color: #ff6b6b;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  width: 300px;
  text-align: center;
  font-size: 14px;
}

/* Nové štýly pre kalendárovú aplikáciu */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F7FA;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #F5F7FA;
  color: #32586C;
  box-shadow: 0 2px 4px rgba(125, 129, 151, 0.3);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #32586C;
}

.user-info p {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: #5BA0C5;
}

.app-content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}